@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lato:ital,wght@0,400;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --colorBlanco: #ffffff;
    --colorVioleta: #7552cc;
    --colorNegro: #131415;
    --colorCeleste: #1877f2;
    --colorIg: #c13584;
    --colorAmarillo: #fbbc05;
    --colorVerde: #34a853;
    --colorRojo: #e80029;
    --font-family: 'Poppins', sans-serif;
    --font-family-marca: 'Dancing Script', cursive;
    --font-text: 'Lato', sans-serif;
}

html {
    min-height: 100%;
    position: relative;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

a {
    text-decoration: none;
    color: var(--colorBlanco);
}

body {
    text-decoration: none;
    font-family: var(--font-family);
}

.show {
    visibility: visible;
}

header {
    padding: 0px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 999;
    background-color: var(--colorVioleta);
    color: var(--colorBlanco);
}

.contenedor__imagen {
    width: 60px;
    height: 60px;
}

.contenedor__imagen img {
    width: 100%;
}

.contenedor__nav__burger {
    display: none;
}

.contenedor__nav__burger ul {
    list-style: none;
}

.menuBurgerLista {
    display: none;
}

.contenedor__nav {
    width: 300px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor__nav ul {
    height: 100%;
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.contenedor__nav li {
    transition: all 0.5s;
}

.contenedor__nav li:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.contenedor__carrito {
    top: 80px;
    right: 0;
    width: 300px;
    height: calc(100vh - 80px);
    background-color: var(--colorBlanco);
    z-index: 2;
    position: absolute;
    overflow-y: scroll;
    padding: 10px 10px;
    transform: translate(200%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.contenedor__carrito::-webkit-scrollbar {
    display: none;
}

.dentroCarrito {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activar__carrito {
    transform: translate(0%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

.titulo__carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.titulo__carrito label {
    color: var(--colorVioleta);
    font-family: var(--font-text);
    font-weight: 700;
    text-align: center;
}

.lista__carrito {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    color: var(--colorVioleta);
}

.resto__carrito {
    /* bottom: 0;
    position: fixed; */
    width: 90%;
    margin-top: 20px;
}

.total__carrito {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: var(--colorNegro);
    font-weight: 900;
    padding: 0px 20px;
}

.botones__carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 10px 0px;
}

.producto__carrito {
    width: 100%;
    padding: 0px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--colorVioleta);
    border-radius: 5px;
}

.producto__carrito img {
    width: 60px;
    height: 60px;
}

.info__carrito {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.botonesDelCarrito {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.botones__producto__carrito {
    border: 1px solid var(--colorNegro);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    padding: 5px 5px;
}

.menos,
.mas {
    border: 0;
    background-color: var(--colorBlanco);
    cursor: pointer;
    color: var(--colorVioleta);
}

.borrar {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--colorRojo);
    cursor: pointer;
    background-color: var(--colorBlanco);
    border: 0;
}

.myhr {
    color: var(--colorVioleta);
}

.mostrar {
    color: var(--colorVioleta);
    opacity: 0.5;
}

.modal {
    padding: 15px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--colorBlanco);
    background-color: green;
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: all 0.5s ease-out;
    transform: translateY(200%);
}

.modal-activo {
    transform: translateY(0);
    transition: all 0.5s ease-in;
}

/**************************HERO SECTION**********************************/

.section__hero {
    max-width: 1800px;
    margin: 0 auto;
    margin-top: 80px;
    background-color: var(--colorVioleta);
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.text__hero {
    padding: 50px 50px;
    width: 50%;
    height: 100%;
    text-align: center;
}

.text__hero h1 {
    color: var(--colorBlanco);
    font-size: 8rem;
    letter-spacing: 0.1rem;
}

.text__hero h2 {
    font-family: var(--font-family-marca);
    color: var(--colorBlanco);
    font-size: 2.8rem;
}

.fondo__hero {
    padding: 50px 50px;
    width: 50%;
    height: 100%;
    background-image: url('../images/hero1.png');
    background-position: center;
    background-repeat: no-repeat;
}

/**************************FIN HERO SECTION**********************************/
/**************************INFO SECTION**********************************/

.section__info {
    max-width: 1800px;
    margin: 0 auto;
    padding: 50px 50px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
}

.info__perfume {
    height: 100%;
    width: 50%;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--colorVioleta);
    font-family: var(--font-text);
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info__curiosidades {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info__tarjeta {
    padding: 10px 10px;
    border: 1px solid var(--colorVioleta);
    border-radius: 20px;
}

.info__tarjeta p {
    text-align: center;
}

/**************************FIN INFO SECTION**********************************/
/**************************MARCAS SECTION**********************************/

.section__marcas {
    max-width: 1800px;
    margin: 0 auto;
    padding: 50px 50px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 80px;
}

.section__marcas ul {
    list-style: none;
}

.section__marcas img {
    width: 120px;
    height: 120px;
    transition: all 2s;
}

.section__marcas img:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/**************************FIN MARCAS SECTION**********************************/
/**************************PERFUMES SECTION**********************************/
.section__perfumes {
    max-width: 1800px;
    margin: 0 auto;
    padding: 50px 50px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.perfumes {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    width: 300px;
    height: 450px;
    border: 1px solid var(--colorVioleta);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    box-shadow: 0px 0px 8px #151820;
}

.card:hover {
    border: 3px solid var(--colorVioleta);
}

.imagen__perfume {
    width: 100%;
    height: 280px;
}

.marca__perfume {
    font-size: 0.8rem;
}

.flanker__perfume {
    font-size: 1rem;
    font-weight: 300;
}

.precio__perfume {
    font-size: 1rem;
    font-weight: 700;
}

.boton__perfume {
    border: 1px solid var(--colorVioleta);
    border-radius: 20px;
    background-color: var(--colorBlanco);
    color: var(--colorVioleta);
    padding: 10px 10px;
}

.boton__perfume:hover {
    border: 1px solid var(--colorVioleta);
    border-radius: 20px;
    background-color: var(--colorVioleta);
    color: var(--colorBlanco);
}

.container__loading {
    visibility: hidden;
    width: 10%;
    height: 30px;
    padding: 5px 10px;
    text-align: center;
    color: var(--colorBlanco);
    background-color: var(--colorVioleta);
}

/**************************FIN PERFUMES SECTION**********************************/

footer {
    /* max-width: 1800px;
    margin: 0 auto; */
    position: absolute;
    bottom: 0;
    padding: 25px 50px;
    width: 100%;
    height: 80px;
    background-color: var(--colorVioleta);
    color: var(--colorBlanco);
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

footer li {
    transition: all 2s;
}

footer li:hover {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    top: 80px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: none;
}

.show-overlay {
    display: block;
}

/***********SINGIN***********************/
.section__singup {
    margin-top: 80px;
    background-color: var(--colorVioleta);
    height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor__singup {
    width: 20%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: column;
}

.contenedor__singup h2 {
    color: var(--colorBlanco);
}

.hr__my {
    width: 100%;
    height: 3.5px;
    background-color: var(--colorBlanco);
}

.boton__google {
    width: 100%;
    height: 50px;
    background-color: var(--colorAmarillo);
    border-radius: 8px;
    border: var(--colorAmarillo);
    cursor: pointer;
    color: var(--colorBlanco);
    font-family: var(--font-family);
    font-size: 1rem;
    padding: 12px 0px;
    text-align: center;
}

.boton__google:hover {
    background-color: #fdcc30;
}

.boton__instagram {
    width: 100%;
    height: 50px;
    background-color: var(--colorIg);
    border-radius: 8px;
    border: var(--colorIg);
    cursor: pointer;
    color: var(--colorBlanco);
    font-family: var(--font-family);
    font-size: 1rem;
    padding: 12px 0px;
    text-align: center;
}

.boton__instagram:hover {
    background-color: #c54390;
}

.boton__facebook {
    width: 100%;
    height: 50px;
    background-color: var(--colorCeleste);
    border-radius: 8px;
    border: var(--colorCeleste);
    cursor: pointer;
    color: var(--colorBlanco);
    font-family: var(--font-family);
    font-size: 1rem;
    padding: 12px 0px;
    text-align: center;
}

.boton__facebook:hover {
    background-color: #2080f8;
}

.boton__email {
    width: 100%;
    height: 50px;
    background-color: var(--colorNegro);
    border-radius: 8px;
    border: var(--colorNegro);
    cursor: pointer;
    color: var(--colorBlanco);
    font-family: var(--font-family);
    font-size: 1rem;
    padding: 12px 0px;
    text-align: center;
}

.boton__email:hover {
    background-color: #151820;
}

/***********FIN*LOGIN*******************/
/**************SINGUP*******************/
.input__singup {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 6px;
    background-color: var(--colorVioleta);
    border-color: var(--colorBlanco);
    color: var(--colorBlanco);
    font-family: var(--font-family);
    font-weight: 600;
}

.contenedor__input {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 8px;
}

.label__singup {
    font-family: var(--font-family);
    font-size: 0.8rem;
    color: var(--colorBlanco);
}

.boton__registrarse {
    width: 100%;
    height: 50px;
    background-color: var(--colorVerde);
    border-radius: 8px;
    cursor: pointer;
    color: var(--colorBlanco);
    font-family: var(--font-family);
    font-size: 1rem;
    padding: 12px 0px;
    text-align: center;
}

.boton__registrarse:hover {
    background-color: #40b565;
}

.boton__cancelar {
    width: 100%;
    height: 50px;
    background-color: var(--colorRojo);
    border-radius: 8px;
    cursor: pointer;
    color: var(--colorBlanco);
    font-family: var(--font-family);
    font-size: 1rem;
    padding: 12px 0px;
    text-align: center;
}

.boton__cancelar:hover {
    background-color: #f11035;
}

/***********FIN*SINGUP******************/

/***********MEDIAQUERIESTABLET******************/
@media (min-width: 768px) and (max-width: 1023px) {
    header {
        padding: 0px 0px;
        justify-content: space-around;
    }

    .section__hero {
        height: 50vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .text__hero {
        padding: 0px 0px;
        width: 80vw;
        margin: 0px 0px 0px 0px;
    }

    .text__hero h1 {
        height: 200px;
        font-size: 10rem;
        letter-spacing: 0.1rem;
    }

    .text__hero h2 {
        margin: 0px 0px 30px 0px;
        font-size: 3rem;
    }

    .fondo__hero {
        margin: 0;
        padding: 0;
        width: 80vw;
        background-size: 500px;
    }

    .section__info {
        height: auto;
        flex-direction: column;
        padding: 20px 20px;
    }

    .info__perfume {
        height: 50%;
        width: 100%;
        font-size: 1.5rem;
    }

    .info__curiosidades {
        height: 50%;
        width: 100%;
    }

    .info__tarjeta {
        margin: 0px 10px;
        width: 80%;
        font-size: 0.7rem;
    }

    .section__marcas {
        padding: 50px 10px;
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: row;
        gap: 50px;
    }
}

/***********FIN MEDIAQUERIESTABLET******************/
/***********MEDIAQUERIESPHONE******************/
@media screen and (max-width: 767px) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        padding: 0px 30px;
        justify-content: space-between;
    }

    .contenedor__nav {
        display: none;
    }

    .section__hero {
        margin-top: 80px;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .text__hero {
        padding: 0;
        width: 90vw;
        height: auto;
    }

    .text__hero h1 {
        font-size: 6rem;
        letter-spacing: 0.1rem;
    }

    .text__hero h2 {
        font-size: 2rem;
    }

    .fondo__hero {
        /* margin: 10px 10px;
        padding: 10px 10px; */
        margin-top: 10px;
        width: 90vw;
        height: auto;
        background-size: 250px;
    }

    .section__info {
        height: auto;
        flex-direction: column;
        padding: 20px 20px;
    }

    .info__perfume {
        height: 50%;
        width: 100%;
        font-size: 1rem;
    }

    .info__curiosidades {
        height: 50%;
        width: 100%;
    }

    .info__tarjeta {
        margin: 0px 10px;
        width: 80%;
        font-size: 0.7rem;
    }

    .section__marcas {
        padding: 25px 10px;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 25px;
    }

    .section__perfumes {
        margin-bottom: 100px;
        width: 100%;
        height: auto;
    }

    footer {
        height: auto;
    }

    footer ul {
        height: auto;
        flex-direction: column;
    }
}

/***********FIN MEDIAQUERIESPHONE******************/